<template>
  <v-app>
    <nav-bar></nav-bar>
    <router-view class="body"></router-view>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import NavBar from '@/components/shared/NavBar.vue';

export default Vue.extend({
  name: 'App',
  components: { NavBar }
});
</script>


<style lang="scss" scoped>
.body {
  margin: 3%;
}
</style>
