<template>
  <div>
    <v-flex xs12>
      <p class="display-4">
        <span class="font-weight-light">Cliente:</span>
        <span class="ml-4 font-weight-regular">{{ client.fullName }}</span>
      </p>
    </v-flex>
    <v-flex row xs12>
      <span class="display-2 font-weight-light ml-4">Datos Principales</span>
      <v-chip v-if="client.isRecordDisabled" class="ml-6 mb-6" color="red" text-color="white" large>
        <v-icon class="mr-2">block</v-icon>Dado de baja
      </v-chip>
      <v-spacer></v-spacer>
      <div v-if="!client.isRecordDisabled">
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="error" class="mr-6" dark v-on="on">Dar de baja</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">Dar de baja cliente</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12">
                    <p class="title">¿Esta seguro que desea dar de baja este cliente?</p>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="success darken-1" @click="downClient">Aceptar</v-btn>
              <v-btn color="error" @click="close">Cancelar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-btn color="warning" dark class="mr-6" @click="goToEditor">Editar</v-btn>
      </div>
      <v-btn color="primary" dark class="mr-4" @click="returnToBack">volver</v-btn>
    </v-flex>

    <v-divider></v-divider>
    <v-flex xs12 class="mt-4">
      <table>
        <tr>
          <td class="title">Documento:</td>
          <td class="text">{{ client.document }}</td>
        </tr>
        <tr>
          <td class="title">Domicilio:</td>
          <td class="text">{{ client.address }}</td>
        </tr>
        <tr>
          <td class="title">Telefono:</td>
          <td class="text">{{ client.phone }}</td>
        </tr>
      </table>
    </v-flex>
  </div>
</template>


<script lang="ts">
import { Vue, Component, Prop, Emit, Watch } from 'vue-property-decorator';
import ClientModel from '@/models/client-model';
import router from '../../router';

@Component({})
export default class ClientProfile extends Vue {
  @Prop(ClientModel) public client?: ClientModel;

  private dialog: boolean = false;

  @Emit('onReturn')
  public returnToBack() {}

  @Emit('onDownClient')
  public downClient() {}

  @Watch('dialog')
  public onDialogChange(val: any) {
    val || this.close();
  }

  public close() {
    this.dialog = false;
    setTimeout(() => {}, 300);
  }

  @Emit('onGoToEditor')
  public goToEditor() {}
}
</script>


<style lang="scss" scoped>
/*TABLE LIST DATA*/
table {
  margin-bottom: 50px;
  width: 100%;
}

table tr .title {
  background: #5f9be3;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  width: 100px;

  font-size: 35px !important;
}

table tr .text {
  padding-left: 10px;
  font-size: 35px !important;
  background: rgb(235, 233, 233);
}
</style>