<template>
  <v-form v-model="valid">
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-model="client.fullName"
            :rules="fullNameRules"
            :counter="200"
            label="Apellido y Nombre"
            required
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-text-field v-model="client.document" :rules="documentRules" label="Document" required></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-text-field v-model="client.address" label="Domicilio"></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-text-field v-model="client.phone" label="Telefono"></v-text-field>
        </v-col>
      </v-row>
    </v-container>
    <v-flex xs12 offset-xs8>
      <v-btn color="success" dark class="mr-4" @click="save">Guardar</v-btn>
      <v-btn color="error" dark class="mr-4" @click="cancel">Cancelar</v-btn>
    </v-flex>
  </v-form>
</template>


<script lang="ts">
import { Vue, Component, Prop, Emit } from 'vue-property-decorator';
import ClientModel from '@/models/client-model';

@Component({})
export default class ClientProfileEditor extends Vue {
  @Prop(ClientModel) public client?: ClientModel;

  private valid: boolean = false;

  private fullNameRules: [any, any] = [
    (v: any) => !!v || 'Es campo obligatorio.',
    (v: any) =>
      (v && v.length >= 10) || 'No puede contener menos de 10 caracteres'
  ];

  private documentRules: [any, any] = [
    (v: any) => !!v || 'Es campo obligatorio.',
    (v: any) => (v && v.length >= 6) || 'No puede contener menos de 6 digitos'
  ];

  @Emit('onCancel')
  public cancel() {}

  @Emit('onSave')
  public save() {}
}
</script>