<template>
  <v-data-table
    :headers="headers"
    :items="issues"
    :items-per-page="5"
    class="elevation-1"
    :loading="isLoading"
    loading-text="Cargando... Porfavor espere"
  >
    <template v-slot:item="props">
      <tr
        :class="{'resolved-row-issue': props.item.isResolved, 'disabled-row-issue': props.item.isRecordDisabled}"
        :key="props.index"
      >
        <td class="text-xs-left">{{ props.item.name }}</td>
        <td class="text-xs-left">{{ props.item.description }}</td>
        <td class="text-xs-left">{{props.item.resolution}}</td>
        <td class="text-xs-left">
          <div v-if="!props.item.isResolved && !props.item.isRecordDisabled">
            <v-icon class="mr-2" @click="resolveIssue(props.item)">done</v-icon>
            <v-icon class="mr-2" @click="editIssue(props.item)">edit</v-icon>
            <v-icon class="mr-2" @click="downIssue(props.item)">delete</v-icon>
          </div>
        </td>
      </tr>
    </template>
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Reclamos</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>

        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-on="on"
              @click="addIssue"
              v-if="!client.isRecordDisabled"
            >Agregar</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container v-show="isAddMode || isEditMode">
                <v-row>
                  <v-col cols="12">
                    <v-text-field v-model="editedIssue.name" label="Titulo"></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <v-textarea
                      filled
                      name="input-7-4"
                      label="Descripcion"
                      v-model="editedIssue.description"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-container>

              <v-container v-show="isResolveMode">
                <v-row>
                  <v-col cols="12">
                    <v-textarea
                      filled
                      name="input-7-4"
                      label="Resolucion"
                      v-model="editedIssue.resolution"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-container>
              <v-container v-show="isDownMode">
                <v-row>
                  <v-col cols="12">
                    <p class="title">¿Esta seguro que desea dar de baja este registro?</p>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="success darken-1" @click="saveIssueChange">{{buttonSaveTitle}}</v-btn>
              <v-btn color="error" @click="close">Cancelar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch, Emit } from 'vue-property-decorator';

import ClientModel from '@/models/client-model';
import IssueModel from '@/models/issue-model';

@Component({})
export default class IssuesHandler extends Vue {
  @Prop(ClientModel) public client!: ClientModel;
  @Prop() public issues!: IssueModel[];
  @Prop() public isLoading?: boolean;
  @Prop() public autoClose?: boolean;

  private editedIndex: number = -1;
  private editedIssue: IssueModel = new IssueModel();

  private dialog: boolean = false;

  private isEditMode: boolean = false;
  private isResolveMode: boolean = false;
  private isDownMode: boolean = false;
  private isAddMode: boolean = false;

  public headers: any[] = [
    { text: 'Titulo', value: 'name' },
    { text: 'Descripción', value: 'description' },
    { text: 'Resolución', value: 'resolution' },
    { text: 'Acciones', value: 'action', sortable: false }
  ];

  public goToManagementForCreate() {}

  get formTitle() {
    let title: string;

    if (this.isResolveMode) {
      title = 'Resolver Issue';
    } else if (this.isDownMode) {
      title = 'Dar de baja Issue';
    } else {
      title = this.editedIndex === -1 ? 'Nuevo Issue' : 'Editar Issue';
    }

    return title;
  }

  get buttonSaveTitle() {
    return this.isDownMode ? 'Aceptar' : 'Guardar';
  }

  @Watch('dialog')
  public onDialogChange(val: any) {
    val || this.close();
  }

  @Watch('autoClose')
  public oAutoCloseChange(val: any) {
    if (val) {
      this.close();
    }
  }

  public close() {
    this.dialog = false;
    setTimeout(() => {
      this.isEditMode = this.isResolveMode = this.isDownMode = this.isAddMode = false;
      this.editedIssue = new IssueModel();
      this.editedIndex = -1;
    }, 300);
  }

  public addIssue() {
    this.editedIssue = new IssueModel();
    this.editedIssue.client = this.client;
    this.isAddMode = true;
  }

  public editIssue(issue: IssueModel) {
    this.isEditMode = true;
    this.editedIndex = this.issues.indexOf(issue);
    this.editedIssue = Object.assign(new IssueModel(), issue);
    this.dialog = true;
  }

  public resolveIssue(issue: IssueModel) {
    this.isResolveMode = true;
    this.editedIndex = this.issues.indexOf(issue);
    this.editedIssue = Object.assign(new IssueModel(), issue);
    this.editedIssue.isResolved = true;
    this.dialog = true;
  }

  public downIssue(issue: IssueModel) {
    this.isDownMode = true;
    this.editedIndex = this.issues.indexOf(issue);
    this.editedIssue = Object.assign(new IssueModel(), issue);
    this.editedIssue.isRecordDisabled = true;
    this.dialog = true;
  }

  public saveIssueChange() {
    if (this.isAddMode) {
      this.add();
    } else if (this.isEditMode || this.isDownMode || this.isResolveMode) {
      this.saveEdition();
    }
  }

  @Emit('onSaveEdition')
  public saveEdition() {
    return this.editedIssue;
  }

  @Emit('onAdd')
  public add() {
    return this.editedIssue;
  }
}
</script>


<style lang="scss" >
.resolved-row-issue {
  background: #78f078;
}

.resolved-row-issue:hover {
  background: #4fd04f !important;
  color: white !important;
}

.disabled-row-issue {
  background: #fd7677;
}

.disabled-row-issue:hover {
  background: #ce6364 !important;
  color: white !important;
}
</style>