<template>
  <div>
    <v-toolbar dark src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg">
      <v-toolbar-title>Dev Test - Gestor de reclamos</v-toolbar-title>
    </v-toolbar>
  </div>
</template>



<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component({})
export default class NavBar extends Vue {}
</script>