<template>
  <div v-if="!clientInput || isEnableEdition">
    <client-profile-editor :client="client" @onSave="saveAndBack" @onCancel="goBack"></client-profile-editor>
  </div>
  <div v-else>
    <client-profile
      :client="client"
      @onReturn="goBack"
      @onDownClient="downClient"
      @onGoToEditor="enableEdition"
    ></client-profile>

    <v-divider></v-divider>

    <v-flex column xs12 class="mt-4">
      <issues-handler
        :client="client"
        :issues="issues"
        :is-loadgin="isLoadingIssue"
        @onAdd="addIssue"
        @onSaveEdition="editIssue"
        :auto-close="canAutoCloseIssueHandler"
      ></issues-handler>
    </v-flex>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import router from '../../router';

import ClientModel from '@/models/client-model';
import IssueModel from '@/models/issue-model';

import ClientHTTPClient from '@/services/client-httpclient';
import IssueHTTPClient from '@/services/issue-httpclient';

import ClientProfile from '@/components/clients/ClientProfile.vue';
import ClientProfileEditor from '@/components/clients/ClientProfileEditor.vue';
import IssuesHandler from '@/components/clients/IssuesHandler.vue';

@Component({
  components: {
    IssuesHandler,
    ClientProfile,
    ClientProfileEditor
  }
})
export default class ClientManagement extends Vue {
  @Prop(ClientModel) public readonly clientInput: ClientModel | undefined;

  private httpClient: ClientHTTPClient = new ClientHTTPClient();

  private issueHTTPClient: IssueHTTPClient = new IssueHTTPClient();

  private isLoadingIssue: boolean = true;

  private isEnableEdition: boolean = false;

  private canAutoCloseIssueHandler: boolean = false;

  private client: ClientModel = new ClientModel();

  public issues: IssueModel[] = [];

  public mounted() {
    if (this.clientInput) {
      this.client = this.clientInput;
      this.loadIssueOfClient();
    }
  }

  public goBack() {
    router.push({ path: '/' });
  }

  public async saveAndBack() {
    if (this.isEnableEdition) {
      await this.httpClient.editClient(this.client);
    } else {
      await this.httpClient.addClient(this.client);
    }

    this.goBack();
  }

  private async loadIssueOfClient() {
    this.isLoadingIssue = true;

    let issuesFromSrv: any = await this.issueHTTPClient.getIssuesByClient(
      this.client.id
    );

    this.issues = issuesFromSrv;

    console.log(issuesFromSrv);

    this.isLoadingIssue = false;
  }

  public async addIssue(issue: IssueModel) {
    this.canAutoCloseIssueHandler = false;

    await this.issueHTTPClient.addIssue(issue);
    this.canAutoCloseIssueHandler = true;

    await this.loadIssueOfClient();
  }

  public async editIssue(issue: IssueModel) {
    this.canAutoCloseIssueHandler = false;

    await this.issueHTTPClient.editIssue(issue);
    this.canAutoCloseIssueHandler = true;

    await this.loadIssueOfClient();
  }

  public async downClient() {
    this.client.isRecordDisabled = true;
    await this.httpClient.editClient(this.client);
  }

  public enableEdition() {
    this.isEnableEdition = true;
  }
}
</script>


