<template>
  <v-data-table
    :headers="headers"
    :items="clients"
    :items-per-page="5"
    class="elevation-1"
    :loading="isLoading"
    loading-text="Cargando... Porfavor espere"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Clientes</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-btn color="primary" dark class="mb-2" @click="goToManagementForCreate">Nuevo Cliente</v-btn>
      </v-toolbar>
    </template>
    <template v-slot:item.action="{ item }">
      <v-icon class="mr-2" @click="viewClient(item)">visibility</v-icon>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import ClientModel from '@/models/client-model';
import ClienthttpClient from '@/services/client-httpclient';
import router from '../../router';

@Component({})
export default class ClientList extends Vue {
  private httpClient: ClienthttpClient = new ClienthttpClient();

  private isLoading: boolean = true;

  public headers: any[] = [
    { text: 'Apellido y Nombre', value: 'fullName' },
    { text: 'Documento', value: 'document' },
    { text: 'Direccion', value: 'address' },
    { text: 'Telefono', value: 'phone' },
    { text: 'N° Problemas para resolver', value: 'numberOfIssueToResolve' },
    { text: 'N° Problemas resueltos', value: 'numberOfIssueResolved' },
    { text: 'Actions', value: 'action', sortable: false }
  ];

  public clients?: ClientModel[] = [];

  public async mounted() {
    await this.loadClients();
  }

  public async loadClients() {
    this.isLoading = true;
    this.clients = await this.httpClient.getClients();
    this.isLoading = false;
  }

  public goToManagementForCreate() {
    router.push({ name: 'ClientManagement' });
  }

  public viewClient(client: any) {
    router.push({ name: 'ClientManagement', params: { clientInput: client } });
  }
}
</script>
